In [1]:
import pandas as pd

In [2]:
# load file and read & store into pandas df
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

1.Player Count

In [7]:
total_players = purchase_data["SN"].nunique()  # number of unique value in "SN" column 
totalPlayers_df = pd.DataFrame({"Total Players":[total_players]}) # make df table 
totalPlayers_df

   Total Players
0            576

2.  Purchasing Analysis (Total)

In [8]:
UniqItems = len(purchase_data["Item Name"].unique())  # length of unique item series 
AvgPurPrice = purchase_data["Price"].mean()  # default axis = 0, meaning row, vertically
Num_Purchase = purchase_data["Purchase ID"].count()  # default axis = 0
totalRev = purchase_data["Price"].sum()  # default axis = 0

# make summary data table
Purchasing_Analysis_df =pd.DataFrame({"Number of Unique Items":UniqItems,
                                    "Average Price":"${:,.2f}".format(AvgPurPrice),
                                    "Number of Purchases": [Num_Purchase],
                                    "Total Revenue":"${:,.2f}".format(totalRev)})
Purchasing_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

3. Gender Demographics

In [9]:
 #  filtered df if the condition met  
male_df=purchase_data.loc[purchase_data["Gender"]=="Male"]
female_df=purchase_data.loc[purchase_data["Gender"]=="Female"]
others_df =purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]

# number of unique player by gender group
malePlayers = male_df["SN"].nunique()
femalePlayers = female_df["SN"].nunique()
others = others_df["SN"].nunique()

# calculating gender percentage 
malePerc = "{:.2%}".format(malePlayers/total_players)
femalePerc = "{:.2%}".format(femalePlayers/total_players)
othersPerc = "{:.2%}".format(others/total_players)

# summary df table
genderDemog_df = pd.DataFrame({"Total Count":[malePlayers,femalePlayers, others], 
                              "Percentage of Players":[malePerc, femalePerc, othersPerc]}, 
                             index=["Male","Female", "Other/Non-Disclosed"])
genderDemog_df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

4. Purchasing Analysis by Gender

In [10]:
#  Purchase Count #

# add a column in the df to count accurately
purchase_data['Count'] = 1

# purchase count groupby "Gender" 
Purchase_Count = purchase_data.groupby(["Gender"]).count()['Count']
purchaseCount_male = Purchase_Count["Male"]
purchaseCount_female = Purchase_Count["Female"]
purchaseCount_others =Purchase_Count["Other / Non-Disclosed"]

# calculating average Purchase Price: groupby gender first and calculate mean of "Price" column
avg_Purchase_price = purchase_data.groupby(["Gender"]).mean()['Price']
avg_Purchase_price_male = avg_Purchase_price["Male"]
avg_Purchase_price_female = avg_Purchase_price["Female"]
avg_Purchase_price_others = avg_Purchase_price["Other / Non-Disclosed"]

#  calculating Total Purchase Value by grouping by "Gender" for the sum of "Price" column
tot_Purchase_value = purchase_data.groupby(["Gender"]).sum()['Price']
tot_Purchase_value_male = tot_Purchase_value["Male"]                      
tot_Purchase_value_female = tot_Purchase_value["Female"]  
tot_Purchase_value_others = tot_Purchase_value["Other / Non-Disclosed"]

#  Average Purchase Total per Person by Gender : total purchase value divided by numbe player by gender
avg_tot_pur_male = tot_Purchase_value_male / malePlayers
avg_tot_pur_female = tot_Purchase_value_female / femalePlayers
avg_tot_pur_others = tot_Purchase_value_others / others

purchase_byGender_df = pd.DataFrame({"Purchase Count":[purchaseCount_male,purchaseCount_female, purchaseCount_others], 
                              "Average Purchase Price":["${:.2f}".format(avg_Purchase_price_male), 
                                                        "${:.2f}".format(avg_Purchase_price_female), 
                                                        "${:.2f}".format(avg_Purchase_price_others)],
                               "Total Purchase Value":["${:,.2f}".format(tot_Purchase_value_male),
                                                       "${:,.2f}".format(tot_Purchase_value_female),
                                                       "${:,.2f}".format(tot_Purchase_value_others)],
                                 "Avg Total Purchase per Person":["${:.2f}".format(avg_tot_pur_male),
                                                                  "${:.2f}".format(avg_tot_pur_female),
                                                                  "${:.2f}".format(avg_tot_pur_others)]
                                  }, 
                             index=["Male","Female", "Other/Non-Disclosed"])
purchase_byGender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

5. Age Demographics

In [12]:
#Establish bins for ages   
bins = [0,9,14,19,24,29,34,39,60]
#bin naming
names = ["<10", "10~14","15~19","20~24", "25~29", "30~34", "35~39", "40+"]

# adding new column "Age group" with the bin created
purchase_data["Age group"]=pd.cut(purchase_data["Age"],bins, labels=names, include_lowest = True)

# groupby "Age group" created just above
grpBy_ageGroup = purchase_data.groupby("Age group")
# player count by Age group and percentge calculation divided by total number of players
playerCount=grpBy_ageGroup["SN"].nunique()
perc_of_player = playerCount/total_players

#Create a summary data frame to hold the results
summary_df=pd.DataFrame({"Total Count":playerCount,
                         "Percentage of Players":perc_of_player})

#Optional: round the percentage column to two decimal points 
summary_df.head(8).style.format({"Percentage of Players":"{:.2%}"})

6. Purchasing Analysis by Age group

In [13]:
#purchase count by Age group
p_count = grpBy_ageGroup["Count"].count()
# average purchase price by Age group
avg_pPrice = grpBy_ageGroup["Price"].mean()
# total purchase value by Age group
tot_pValue = grpBy_ageGroup["Price"].sum()
# average total purchase per person
avg_totP_p = tot_pValue/playerCount

#Create a summary data frame to hold the results
Purchase_analysis_age_df=pd.DataFrame({"Purchase Count":p_count,
                         "Average Purchase Price":avg_pPrice,
                        "Total Purchase Value":tot_pValue,
                        "Avg Total Purchase per Person":avg_totP_p})

#Optional: round the percentage column to two decimal points 
Purchase_analysis_age_df.head(8).style.format({"Average Purchase Price":"${:.2f}",
                                               "Total Purchase Value":"${:.2f}",
                                               "Avg Total Purchase per Person":"${:.2f}"})

7. Top Spenders

In [14]:
#Q7 Top Spenders #########################################################

#groupby SN
grpBy_SN = purchase_data.groupby(['SN'])
grpBy_SN_pCount = grpBy_SN['Count'].count()
grpBy_SN_aPrice = grpBy_SN['Price'].mean()
grpBy_SN_tPurchase = grpBy_SN['Price'].sum()

#make dataframe
topSpenders_df = pd.DataFrame({"Purchase Count":grpBy_SN_pCount,
                            "Average Purchase Price":grpBy_SN_aPrice,
                            "Total Purchase Value":grpBy_SN_tPurchase} 
                           )

#sort by total purchase value decending
topSpenders_sorted_df=topSpenders_df.sort_values('Total Purchase Value', ascending =False)

#format
topSpenders_sorted_formatted=topSpenders_sorted_df.head(5).style.format({"Average Purchase Price":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}"})
topSpenders_sorted_formatted

8. Most Popular Items

In [15]:
#Group by Item ID and Item Name.
grpBy_Item = purchase_data.groupby(["Item ID", "Item Name"])

# purchase count, item price, and total purchase value by Item
purCount = grpBy_Item['Count'].count()
priceCount = grpBy_Item['Price'].count()
tot_pur_value = grpBy_Item['Price'].sum()
itemPrice = tot_pur_value/priceCount

#Create a summary data frame to hold the results
Items_df = pd.DataFrame({"Purchase Count":purCount ,
                               "Item Price":itemPrice ,
                               "Total Purchase Value":tot_pur_value})

#Sort the purchase count column in descending order
mostPopItems_sorted_df = Items_df.sort_values("Purchase Count", ascending =False)
#format and preview
mostPopItems_sorted_formatted = mostPopItems_sorted_df.head(5).style.format(
    {"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})
mostPopItems_sorted_formatted

9. Most Profitable Items

In [16]:
#Sort the above table by total purchase value in descending order
mostProfitItems_sorted_df = Items_df.sort_values("Total Purchase Value", ascending =False)

#preview
mostProfitItems_sorted_formatted = mostProfitItems_sorted_df.head(5).style.format(
    {"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})
mostProfitItems_sorted_formatted