In [1]:
import pandas as pd

In [2]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#1.Total number of players #
total_players = len(purchase_data["SN"].unique())
totalPlayers_df = pd.DataFrame({"Total Players":[total_players]})  
totalPlayers_df.head()

   Total Players
0            576

In [9]:
# Purchasing_Analysis #
UniqItems = purchase_data["Item Name"].unique() # <-- series
AvgPurPrice = purchase_data["Price"].mean() # default axis = 0, meaning row, vertically
Num_Purchase = purchase_data["Purchase ID"].count()
totalRev = purchase_data["Price"].sum() # default axis = 0, meaning row, vertically

Purchasing_Analysis_df =pd.DataFrame({"Number of Unique Items":len(UniqItems),
                                    "Average Price":"${:,.2f}".format(AvgPurPrice),
                                    "Number of Purchases": [Num_Purchase],
                                    "Total Revenue":"${:,.2f}".format(totalRev)})
Purchasing_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [11]:
# Gender Demographics #
male_df=purchase_data.loc[purchase_data["Gender"]=="Male"]
female_df=purchase_data.loc[purchase_data["Gender"]=="Female"]
others_df =purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]

malePlayers = len(male_df["SN"].unique())
femalePlayers = len(female_df["SN"].unique())
others = len(others_df["SN"].unique())

malePerc = "{:.2%}".format(malePlayers/total_players)
femalePerc = "{:.2%}".format(femalePlayers/total_players)
othersPerc = "{:.2%}".format(others/total_players)

genderDemog_df = pd.DataFrame({"Total Count":[malePlayers,femalePlayers, others], 
                              "Percentage of Players":[malePerc, femalePerc, othersPerc]}, 
                             index=["Male","Female", "Other/Non-Disclosed"])
genderDemog_df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [13]:
#  Purchase Count #
purchase_data['Count'] = 1
Purchase_Count = purchase_data.groupby(["Gender"]).count()['Count']
purchaseCount_male = Purchase_Count["Male"]
purchaseCount_female = Purchase_Count["Female"]
purchaseCount_others =Purchase_Count["Other / Non-Disclosed"]

#  Average Purchase Price #
avg_Purchase_price = purchase_data.groupby(["Gender"]).mean()['Price']
avg_Purchase_price_male = avg_Purchase_price["Male"]
avg_Purchase_price_female = avg_Purchase_price["Female"]
avg_Purchase_price_others = avg_Purchase_price["Other / Non-Disclosed"]

#  Total Purchase Value #
tot_Purchase_value = purchase_data.groupby(["Gender"]).sum()['Price']
tot_Purchase_value_male = tot_Purchase_value["Male"]                      
tot_Purchase_value_female = tot_Purchase_value["Female"]  
tot_Purchase_value_others = tot_Purchase_value["Other / Non-Disclosed"]

#  Average Purchase Total per Person by Gender #
avg_tot_pur_male = tot_Purchase_value_male / malePlayers
avg_tot_pur_female = tot_Purchase_value_female / femalePlayers
avg_tot_pur_others = tot_Purchase_value_others / others

purchase_byGender_df = pd.DataFrame({"Purchase Count":[purchaseCount_male,purchaseCount_female, purchaseCount_others], 
                              "Average Purchase Price":["${:.2f}".format(avg_Purchase_price_male), 
                                                        "${:.2f}".format(avg_Purchase_price_female), 
                                                        "${:.2f}".format(avg_Purchase_price_others)],
                               "Total Purchase Value":["${:,.2f}".format(tot_Purchase_value_male),
                                                       "${:,.2f}".format(tot_Purchase_value_female),
                                                       "${:,.2f}".format(tot_Purchase_value_others)],
                                 "Avg Total Purchase per Person":["${:.2f}".format(avg_tot_pur_male),
                                                                  "${:.2f}".format(avg_tot_pur_female),
                                                                  "${:.2f}".format(avg_tot_pur_others)]
                                  }, 
                             index=["Male","Female", "Other/Non-Disclosed"])
purchase_byGender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
#Q6  Age Demographics ###############################################

In [ ]:
#Establish bins for ages    Categorize the existing players using the age bins. Hint: use pd.cut()

In [ ]:
#Calculate the numbers and percentages by age group

In [ ]:
#Create a summary data frame to hold the results

In [ ]:
#Optional: round the percentage column to two decimal points 
#Display Age Demographics Table

In [ ]:
#Q7  Purchasing Analysis (Age) ######################################

In [ ]:
#Q7 Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

In [ ]:
#Q8 Top Spenders #########################################################

In [46]:
#groupby SN
grpBy_SN = purchase_data.groupby(['SN'])
grpBy_SN_pCount = grpBy_SN['Count'].count()
grpBy_SN_aPrice = grpBy_SN['Price'].mean()
grpBy_SN_tPurchase = grpBy_SN['Price'].sum()

#make dataframe
topSpenders_df = pd.DataFrame({"Purchase Count":grpBy_SN_pCount,
                            "Average Purchase Price":grpBy_SN_aPrice,
                            "Total Purchase Value":grpBy_SN_tPurchase} 
                           )

#sort by total purchase value decending
topSpenders_sorted_df=topSpenders_df.sort_values('Total Purchase Value', ascending =False)

#format
topSpenders_sorted_formatted=topSpenders_sorted_df.head(5).style.format({"Average Purchase Price":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}"})
topSpenders_sorted_formatted

In [ ]:
#Q9 Most Popular Items #########################################################

In [69]:
#Group by Item ID and Item Name.
grpBy_Item = purchase_data.groupby(["Item ID", "Item Name"])

#Perform calculations to obtain purchase count, item price, and total purchase value
purCount = grpBy_Item['Count'].count()
priceCount = grpBy_Item['Price'].count()
tot_pur_value = grpBy_Item['Price'].sum()
itemPrice = tot_pur_value/priceCount

#Create a summary data frame to hold the results
mostPopItems_df = pd.DataFrame({"Purchase Count":purCount ,
                               "Item Price":itemPrice ,
                               "Total Purchase Value":tot_pur_value})

#Sort the purchase count column in descending order
mostPopItems_sorted_df = mostPopItems_df.sort_values("Purchase Count", ascending =False)
#format and preview
mostPopItems_sorted_formatted = mostPopItems_sorted_df.head(5).style.format(
    {"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})
mostPopItems_sorted_formatted

In [ ]:
#10 Most Profitable Items ####################################3

In [72]:
#Sort the above table by total purchase value in descending order
mostProfitItems_sorted_df = mostPopItems_df.sort_values("Total Purchase Value", ascending =False)

#preview
mostProfitItems_sorted_formatted = mostProfitItems_sorted_df.head(5).style.format(
    {"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})
mostProfitItems_sorted_formatted